@import "./../../assets/palette.scss";
@import "./../../assets/fonts.scss";

.Footer {
  font-size: 12px;
  font-family: $sans-serif;
  color: $light-green;
  padding-bottom: 25px;
  text-align: center;
  // bottom: 0px;
  width: 100%;
  a {
    color: $light-green;
  }
}