@import "./../../assets/palette.scss";
@import "./../../assets/fonts.scss";

.Footer {
  font-size: 12px;
  bottom: 15px;
  font-family: $sans-serif;
  color: $light-green;
  margin: 25px;

  a {
    color: $light-green;
  }
}