$dark-green: #193620;
$dark-green-hover: #31482e;
$mid-green: #56824e;
$mid-green-hover: #407144;
$light-green: #a2d2a2;

$highlight: #f98b63bd;
$salmon: #bc4c4c;
$dark: #0f0f0f;
$dark-transparent: #0f0f0fdd;
$grey: #949494;
$dark-grey: #707070;
$light: #fefefe;
